.navbar{
    background-color:deepskyblue;
    padding: 20px;
    display: flex;
    gap: 15px;
}

.navButton{
    color:white;
    text-align: center;
}

.videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoDisplay{
     width: 65%;
     height: auto;
     aspect-ratio: 16 / 9; 
}

.animePageWrapper{
    color:rgb(110, 174, 230);
    padding: 20px;
    display: flex;
    gap: 15px;
}

.animePageLinks{
    color: black;
    text-align: center;
}